body
{
    font-family: sans-serif;
    padding: 0;
    margin: 10;
}

/* The area that has the form to pick a person */
#formcontainer
{
    margin: auto;
    width: 500px;
    
    background-color: aqua;
}

.formouter
{
    background-color: beige;
}

#chatarea
{
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    padding-right: 20px;
}

#restartbuttonarea
{
    visibility: hidden;
}