<head>
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
</head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"> </script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>

<script src="chatClient3.js"></script>
<script src="chatui.js"></script>
<!--
<script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react@16/react-dom@16/umd/react-dom.production.min.js"></script>
-->

<br><br>

<div class="formouter" id="formholder">
    <div id="formcontainer">
        I am a:
        <br>
        <form id="userform">
            <input type="radio" name="usergender" id="usermalebox" value="male">Male
            <input type="radio" name="usergender" id="userfemalebox" value="female">Female
            <input type="radio" name="usergender" id="userotherbox" value="other">Other
        <br>
        <br>
        and I want to talk to people who are: <br>
            <input type="checkbox" name="desiredgenders" id="malebox" value="male">Male
            <input type="checkbox" name="desiredgenders" id="femalebox" value="female">Female
            <input type="checkbox" name="desiredgenders" id="otherbox" value="other">Other

            <br>
            <button id="userDataButton">Let's go!</button>
        </form>
    </div>
</div>
                                       
<div id="textscrollarea"></div>

<div id="restartbuttonarea">Click here to start a new chat</div>

<textarea id="chatarea"></textarea>
<br>